
<%= render 'form.index' %>


  <div class="backend_header" id="main-header" class="py-2 bg-primary text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1><i class="fa fa-gear"></i> Dashboard</h1>
        </div>
      </div>
    </div>
  </div>

  <!-- ACTIONS -->
  <section id="action" class="py-4 mb-4 bg-light">
    <div class="container">
      <div class="row">

        <div class="col-md-3">
          <%= link_to new_cohort_path,  class:"btn btn-success btn-block" do %>
            <i class="fa fa-plus"></i> New Cohort
          <% end %>
        </div>

      </div>
    </div>
  </section>

  <!-- POSTS -->
  <section id="posts">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4>Cohort Lists</h4>
            </div>
            <!-- <table class="table table-striped"> -->

            <table class="table table-hover">
              <!-- <thead class="thead-inverse"> -->

               <thead>
                <tr>
                  <th>#</th>
                  <th>Cohort Name</th>
                  <th>Course Name</th>
                  <th>Instructor</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                  <% @cohorts.each_with_index do |cohort, index| %>
                <tr>
                  <td scope="row"><%= index+1 %></td>
                  <td><%= cohort.name %></td>
                  <td>  <%= cohort.course.course_name %></td>
                  <td>  <%= cohort.instructor %></td>
                  <td>  <%= cohort.start_date %></td>
                  <td>   <%= cohort.end_date %></td>

                  <td>
                     <%= link_to cohort_path(cohort), class: "btn btn-secondary" do %>
                          <h6><i class="fa fa-info"  aria-hidden="true"></i> Show </h6>

                    <% end %>
                    <!-- <%= link_to "Open modal", "#addPostModal", :class => "btn btn-secondary", "data-toggle" => "modal" %> -->
                  </td>

                   <td>
                    <%= link_to edit_cohort_path(cohort), class: "btn btn-secondary" do %>
                        <h6>  <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit </h6>
                    <% end %>

                    </td>
                    <td>
                       <%= link_to cohort, 'data-method': "DELETE", class: "btn btn-secondary" do %>
                       <h6>  <i class="fa fa-trash-o" aria-hidden="true"></i> Delete </h6>

                      <% end %>
                    </td>
                </tr>
                <% end %>


              </tbody>
            </table>
          </div>
        <!-- </div>
        <div class="col-md-3">
          <div class="card text-center bg-primary text-white mb-3">
            <div class="card-body">
              <h3>Posts</h3>
              <h1 class="display-4">
                <i class="fa fa-pencil"></i> 6
              </h1>
              <a href="posts.html" class="btn btn-outline-light btn-sm">View</a>
            </div>
          </div>

          <div class="card text-center bg-success text-white mb-3">
            <div class="card-body">
              <h3>Categories</h3>
              <h1 class="display-4">
                <i class="fa fa-folder-open-o"></i> 4
              </h1>
              <a href="categories.html" class="btn btn-outline-light btn-sm">View</a>
            </div>
          </div>

          <div class="card text-center bg-warning text-white mb-3">
            <div class="card-body">
              <h3>Users</h3>
              <h1 class="display-4">
                <i class="fa fa-users"></i> 2
              </h1>
              <a href="users.html" class="btn btn-outline-light btn-sm">View</a>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </section>

<!-- CATEGORY MODAL -->

<!-- USER MODAL -->
  <div class="modal fade" id="addUserModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-warning text-white">
          <h5 class="modal-title">Add User</h5>
          <button class="close" data-dismiss="modal"><span>&times;</span></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control">
            </div>
            <div class="form-group">
              <label for="name">Password</label>
              <input type="password" class="form-control">
            </div>
            <div class="form-group">
              <label for="name">Confirm Password</label>
              <input type="password" class="form-control">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button class="btn btn-warning" data-dismiss="modal">Save Changes</button>
        </div>
      </div>
    </div>
  </div>

<%= render 'form.footer' %>

<!--
<h4>
<%= link_to 'Create New cohort', new_cohort_path %> </h4>

 <% @cohorts.each do |cohort| %>
   <div>
        Name = <%= cohort.name %>
   </div>
   <div>
        Instructor = <%= cohort.instructor %>
   </div>
   <div>
            Start Date = <%= cohort.start_date %>
   </div>

   <div>
            End Date = <%= cohort.end_date %>
   </div>

    <div>

    </div>

     <div>
        <%= link_to 'View', cohort_path(cohort), 'data-disable-with': 'Processing ...' %>
        <%= link_to 'Edit', edit_cohort_path(cohort) %>
        <%= link_to 'Delete', cohort, 'data-method': "DELETE" %>
     </div>


<% end %> -->
