<%= render 'form.index' %>
<div class="backend_header" id="main-header" class="py-2 bg-primary text-white">
 <div class="container">
  <div class="row">
   <div class="col-md-6">
    <h1><i class="fa fa-gear"></i> Dashboard</h1>
   </div>
  </div>
 </div>
</div>

<section id="action" class="py-4 mb-4 bg-light">
 <div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= link_to new_cohort_path,  class:"btn btn-success btn-block" do %>
       <i class="fa fa-plus"></i> New Cohort
      <% end %>
    </div>
  </div>
 </div>
</section>

<section id="posts">
 <div class="container">
  <div class="row">
   <div class="col-md-12">
    <div class="card">
     <div class="card-header">
      <h4>Cohort Lists</h4>
     </div>
     <table class="table table-hover">
      <thead>
        <tr>
         <th>#</th>
         <th>Cohort Name</th>
         <th>Course Name</th>
         <th>Instructor</th>
         <th>Start Date</th>
         <th>End Date</th>
         <th></th>
         <th></th>
         <th></th>
        </tr>
       </thead>
       <tbody>
       <% @cohorts.each_with_index do |cohort, index| %>
        <tr class="parent-tr">
         <td scope="row"><%= index+1 %></td>
         <td><%= cohort.name %></td>
         <td><%= cohort.course.course_name %></td>
         <td><%= cohort.instructor %></td>
         <td><%= cohort.start_date %></td>
         <td><%= cohort.end_date %></td>
         <td><%= link_to cohort_path(cohort), class: "btn btn-secondary" do %>
                          <h6><i class="fa fa-info"  aria-hidden="true"></i> Show </h6>
             <% end %></td>
         <td>
             <%= link_to edit_cohort_path(cohort), class: "btn btn-secondary" do %>
              <h6>  <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit </h6>
             <% end %>
         </td>
         <td>
            <%= link_to  cohort, method: :delete, remote: true, class: 'delete-todo btn btn-secondary' do %>
               <h6>  <i class="fa fa-trash-o" aria-hidden="true"></i> Delete </h6>
            <% end %>

         </td>
       </tr>
      <% end %>
    </tbody>
  </table>
 </div>
</section>

<div class="modal fade" id="addUserModal">
 <div class="modal-dialog modal-lg">
  <div class="modal-content">
   <div class="modal-header bg-warning text-white">
    <h5 class="modal-title">Add User</h5>
    <button class="close" data-dismiss="modal"><span>&times;</span></button>
   </div>
   <div class="modal-body">
     <form>
       <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control">
       </div>
       <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control">
       </div>
       <div class="form-group">
        <label for="name">Password</label>
        <input type="password" class="form-control">
       </div>
       <div class="form-group">
        <label for="name">Confirm Password</label>
        <input type="password" class="form-control">
       </div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button class="btn btn-warning" data-dismiss="modal">Save Changes</button>
    </div>
   </div>
  </div>
</div>
<%= render 'form.footer' %>
