<%= form_for @student do |f| %>
 <div>
   <%= f.label :first_name %>
   <%= f.text_field :first_name %>
 </div>
 <div>
   <%= f.label :last_name %>
   <%= f.text_field :last_name %>
 </div>
 <div>
   <%= f.label :dob %>
   <%= f.date_field :dob %>
 </div>
 <div>
   <%= f.label :highest_education %>
   <%= f.text_field :highest_education %>
 </div>
 <div>
   <%= f.submit %>
 </div>
<% end %>
